.wrapper{
    background: url('../static/img/bgmovie.jpg');
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    &::after{
        content: '';
        background: rgba(0, 0, 0, 0.55) ;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}
.body{
    position: relative;
    z-index: 3 !important;
}
.screen{
    border-bottom: 50px solid rgb(255, 159, 95);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 100;
    width:80%;
    filter: drop-shadow(4px 30px 20px rgba(255, 255, 255, 0.5));
    font-size: 25px;
    color: #fff;
}
.ghe{
    border: 3px solid orange;
    width: 55px;
    height: 40px;
    font-size: 16px;
    margin-left: 2%;
    margin-bottom: 1%;
    border-radius: 5px;
    background-color: #fff;
}
.booking{
    background-color: rgb(22 163 74);
    color: white;
}
.booked{
    background-color: rgb(217 119 6);
    color: brown;
    pointer-events: none;
}